<h2>Welcome to <%= title %></h2>
<ul><% drones.forEach((drone)=>{%>
  <li><%=drone.droneName%></li>
  <li><%=drone.propellers%></li>
  <li><%=drone.maxSpeed%></li>
</ul>
<a href="<%=drone._id%>/drones"></a>
<%})%>
