<h2>Drones</h2>

<% drones.forEach((drone) => { %>

  <div class="drone-wrapper">
    <p> <%= drone.name %> </p>
    <p> <%= drone.propellers %> </p>
    <p> <%= drone.maxSpeed %> </p>
    <p>
      <a href="/drones/<%= drone._id %>/edit">Edit</a>
    </p>
    <p>
      <form action="/drones/<%= drone._id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </p>
  </div>

  <hr>

<% }) %>

<a href="drones/new">Create a new drone</a>
