<div class="row">
  <div class="drones-container col-12">

    <% drones.forEach((drone) => { %>

    <div class="drone-wrapper">
      <h3> <%= drone.name %> </h3>
      <p>Propellers: <strong><%= drone.propellers %></strong> </p>
      <p>Max speed (m/s): <strong><%= drone.maxSpeed %></strong> </p>
      <div class="buttons">
        <a href="/drones/<%= drone._id %>/edit" class="btn btn-orange">Edit information</a>
        <form action="/drones/<%= drone._id %>/delete" method="post" class="btn btn-red">
          <input type="submit" value="Delete">
        </form>
      </div>
    </div>

    <% }) %>

    <a href="drones/new" class="btn btn-green">Create a new drone</a>

  </div>

</div>
