<p>DRONES Inc. © 2018  </p>

<%  drones.forEach(drone => { %>
  <h1>
    Name :
    <%=drone.name%>
  </h1>
  <h2>
    Propellers:
    <%=drone.propellers%>
  </h2>
  <p>
    Mas Speed:
    <%=drone.maxSpeed%>
  </p>
  <a href="/drones/edit/<%=drone._id%>">Edit</a>
  <form action="/drones/delete/<%=drone._id%>" method="post">
    <input type="submit" value="DELETE">
  </form>
  <% }); %>
<br>
  <a href="/drones/new">Add new drone</a>

  
