<h2> Drones</h2>

<table class="kill me now table table-hover">
  <tr>
    <th> Name </th>
    <th> Propellers </th>
    <th> maxSpeed </th>
  </tr>
  <% drones.forEach((drone) => { %>
  <tr>
    <td> <%= drone.droneName %> </td>
    <td> <%= drone.propellers %> </td>
    <td> <%= drone.maxSpeed %> </td>
    <td> <a class="btn btn-primary btn-sm" href="/drones/<%= drone._id %>">Show</a> </td>
    <td> <a class="btn btn-warning btn-sm" href="/drones/<%= drone._id %>/edit">Edit</a> </td>
    <td> <form method="post" action="/drones/<%= drone._id %>/delete"><button class="btn btn-danger btn-sm"> Delete</button></form> </td>
  </tr>
  <% }) %>
</table>

<a class="btn btn-default" href="/">Home</a>
<a class="btn btn-default" href="/drones/new">Create</a>